.table_rows_col_select {
    position: absolute;
    top: 33px;
    background: #18191A;
    padding: 8px;
    width: max-content;
    border-radius: 8px;
    max-width: 400px;
    min-width: 320px;
    border: 1px solid #303133;
    max-height: 116px;
    overflow-y: scroll;
    z-index: 999;
    left: 0px;
}

.table_rows_col_select_list_one {
    text-align: left;
    margin-bottom: 8px;
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.table_rows_col_select_list_one:hover, .table_rows_col_select_list_one:first-child {
    background: #303133;
}

.table_rows_col_select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table_rows_col_select::-webkit-scrollbar {
  display: none;
}

.table_rows_col_select_list_one img {
    margin-right: 15px;
    margin-left: 10px;
}