.button_base {
    padding: 12px 16px;
    background: #FF4D00;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #FAFCFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}